@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes peek {
  0% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%); /* эхэндээ хэсэг хугацаанд зогсоно */
  }
  85% {
    transform: translateX(-30%); /* илүү гарсан хэсгийг л харуулна */
  }
  100% {
    transform: translateX(0%); /* шууд эхлэл рүү буцна */
  }
}

.animate-peek {
  animation: peek 3s ease-in-out infinite;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-vnl {
  background: linear-gradient(135deg, #0033cc, #cc0000);
}

.text-vnl {
  background: linear-gradient(90deg, #0033cc, #cc0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
